<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="logo">
        <a id="hide-logo" href="#">SLAVPAGE</a>
    </div>
    <nav>
        <ul>
            <li><a id="link-logo" href="#">SLAVPAGE</a></li>
            <li><a id="pPage" href="#">Product Page</a></li>
            <li><a id="checkoutPage" href="#">Checkout</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a><span id="cartTotal"></span></li>
        </ul>
    </nav>
    <div id="products">

    </div>
    <div id="overlay">
        
    </div>
    <div id="cart">
        
    </div>
    <div id="cartHtml">
        
    </div>
    <div id="checkout">
        <form id="checkoutForm" name="myForm" method="post">
            First Name: <br>
            <input name="FirstName" type="text"> <br>
            Last Name: <br>
            <input name="LastName" type="text"> <br>
            Email Adress: <br>
            <input name="Email" type="text"> <br>
            Phone Number: <br>
            <input name="Phone" type="text"> <br>
            Street Adress: <br>
            <input name="StreetAdress" type="text"> <br>
            Zipcode: <br>
            <input name="ZipCode" type="text"> <br>
            City: <br>
            <input name="City" type="text"> <br>
            Comment: <br>
            <input name="Comment" type="text"> <br>

            <input id ="submitButton" name="submit" type="submit" value="submit">
        </form>
        <div id="outputForm">

        </div>
    </div>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="test.js"></script>
</body>
</html>